<?php
   //获取所有产品分类
   $category=$mysqli->query("select * from category")->fetch_all(MYSQLI_ASSOC);
//将“全部分“添加到产品分类里面
$cate=[['cid'=>0,'cname'=>'全部','csort'=>999]];
$cate=array_merge($cate,$category);
//var_dump($cate);
//获取cate的长度
$count=count($cate);
//查询所有的商品
$goods=$mysqli->query("select gid,gname,gthumb from goods")->fetch_all(MYSQLI_ASSOC);
//var_dump($goods);
//将goods中查询出来的字段添加到count中
for($i=0;$i<$count;$i++){
$cid=$cate[$i]['cid'];
//var_dump($cid);
if($cid==0){
$cate[$i]['good']=$goods;
//var_dump($cate);
continue;
}
$good1=$mysqli->query("select gid,gname,gthumb from goods where cid=$cid")->fetch_all(MYSQLI_ASSOC);
$cate[$i]['good']=$good1;
}
//var_dump($cate)
?>

		<link rel="stylesheet" type="text/css" href="../static/index/css/chanpinzhongxin.css" />
		
		<div class="banner">
			<img src="../static/index/img/GOD_Of_WAR_game_video_action_adventure_fantasy_fighting_warrior_new_beginning_ascension_hack_slash_norse_kratos_5395x2000.jpg" />
		</div>
		<div class="biaoti1">
			<span class="us1">产品中心</span>
			<span class="us2">Products</span>
		</div>
		<ul class="nu">
			<?php foreach($cate as $v){ ?>
				<li><?php echo $v['cname'] ?></li>
			<?php } ?>
<!--			<li class="yincang">全部</li>-->
<!--			<li>射击</li>-->
<!--			<li>角色扮演</li>-->
<!--			<li>模拟经营</li>-->
		</ul>
		<div class="fenlei">
			<?php foreach($cate as $v){ ?>
			<ul class="nu2">
				<?php foreach($v['good'] as $g){ ?>
				<a href="details.php?gid=<?php echo $g['gid'] ?>">
					<li class="neirong">
						<img src="..<?php echo $g['gthumb']?>" />
						<p class="nup"><b><?php echo $g['gname'] ?></b></p>
					</li>
				</a>
				<?php } ?>
			</ul>
			<?php } ?>
		</div>
		<script type="text/javascript">
			var oul = document.querySelectorAll(".nu>li");
			var dis = document.querySelectorAll(".fenlei>ul")
			console.log(oul);
			console.log(dis);
			oul.forEach(function(value,index){
				value.onclick = function() {
					dis.forEach(function(v,i){
						v.style.display = "none";
						oul[i].className = "";
					})
					dis[index].style.display = "block";
					value.className = "yincang";
				}
			})
		</script>
<style>
	.fenlei  ul:first-child{
		display: block;
	}
	.fenlei ul{
		display: none;
	}
</style>