<div class="dibu">

    <ul class="dibu1">
        <?php foreach($addr as $v){ ?>
        <li>
            <p class="dp1"><?php echo $v['store'] ?></p>
            <p class="dp2">门店地址：<?php echo $v['addr']?> </p>
            <p class="dp3">预约电话：<span><?php echo $v['tel'] ?></span></p>
            <p class="dp4">营业时间：</p>
            <p class="dp5">周一 ~周五：<?php echo $v['time1'] ?></p>
            <p class="dp6">周六、周日：<?php echo $v['time2'] ?></p>
        </li>
        <?php } ?>
    </ul>

    <ul class="zd_jlt">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <br />
    <br />
    <p class="dp7">版权所有 2019-2020  汽车美容工作室  技术支持：起飞页</p>
</div>

</body>
</html>