
		<link rel="stylesheet" type="text/css" href="../static/index/css/fuwuxiangmu.css"/>
		
		<div class="banner">
			<img src="../static/index/img/STAR_CITIZEN_sci_fi_spaceship_game_dual_multi______g_5760x1080.jpg"/>
		</div>
		<div class="biaoti1">
			<span class="us1">商城专享</span>
			<span class="us2">Shopping Exclusive</span>
		</div>
		
		<ul class="neirong">
			<li>
				<div class="dj">
					<a href="zaixainyuyue.html"><img class="i1" src="../static/index/img/彩虹六号：围攻.jpg"/></a>
					<p class="dpp">八折优惠</p>
					<img class="i2" src="../static/index/img/aHR0cDovLzU0ZDRhMDMzOTQ4OWQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNC8wNi9MSU5FLTE4MngxLnBuZw_p_p100_p_3D_p_p100_p_3D.png"/>
					<p class="dpp2">你的点数会随着在SP商城的购买和游戏内成就的解锁逐渐增加，兑换8折优惠码，适用于SP商城所有产品。</p>
				</div>
			</li>
			<li>
				<div class="dj">
					<a href="zaixainyuyue.html"><img class="i1" src="../static/index/img/渡神纪.jpg"/></a>
					<p class="dpp">预购奖励</p>
					<img class="i2" src="../static/index/img/aHR0cDovLzU0ZDRhMDMzOTQ4OWQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNC8wNi9MSU5FLTE4MngxLnBuZw_p_p100_p_3D_p_p100_p_3D.png"/>
					<p class="dpp2">若预购之后游戏发售之前商城降价，只会收取你最低价格！预购我们的游戏，得到任务、皮肤和其他奖励。</p>
				</div>
			</li>
			<li>
				<div class="dj">
					<a href="zaixainyuyue.html"><img class="i1" src="../static/index/img/看门狗：军团.jpg"/></a>
					<p class="dpp">全年专属折扣</p>
					<img class="i2" src="../static/index/img/aHR0cDovLzU0ZDRhMDMzOTQ4OWQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNC8wNi9MSU5FLTE4MngxLnBuZw_p_p100_p_3D_p_p100_p_3D.png"/>
					<p class="dpp2">每周三一款精选游戏促销，不定期免费试玩，周末或永久免费，尽在SP商城！</p>
				</div>
			</li>
			<li>
				<div class="dj">
					<a href="zaixainyuyue.html"><img class="i1" src="../static/index/img/孤岛惊魂4.png"/></a>
					<p class="dpp">自动激活</p>
					<img class="i2" src="../static/index/img/aHR0cDovLzU0ZDRhMDMzOTQ4OWQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNC8wNi9MSU5FLTE4MngxLnBuZw_p_p100_p_3D_p_p100_p_3D.png"/>
					<p class="dpp2">你在SP商城购买PC数字版游戏、DLC和扩展包将会立刻出现在你的Super Players库中。自动，简单。</p>
				</div>
			</li>
		</ul>
		