<?php
 	//$abouts=$mysqli->query("select * from aboutus where uid=1")->fetch_assoc();
	//$team=$mysqli->query("select * from team where limit 4")->fatch_all(MYSQLI_ASSOC);
//?>

<link rel="stylesheet" type="text/css" href="../static/index/css/guanyuwomen.css" />
		<div class="banner">
			<img src="../static/index/img/CATBAN_FC_Franchise_1920x450.jpg" />
		</div>
		<div class="biaoti1">
			<span class="us1">关于我们</span>
			<span class="us2">About Us</span>
		</div>
		<div class="neirong">
			<img class="nj" src="../static/index/img/tu1_03.png" />
			<div class="neirong2">
				<p class="np1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;超级玩家娱乐软件公司(Super Player)成立于2019年，是一家设于中国陕西的电动游戏开发商和发行商。它在全世界拥有23间游戏开发工作室。2019年它是欧洲第三大独立游戏开发商、北美第四独立出版商。</p>
				<p class="np1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;超级玩家娱乐软件公司(Super Player)是一家跨国的游戏制作、发行和代销商。作为多媒体工业的佼佼者，其广泛的业务稳步扩展，在和各老牌游戏公司合作的基础上，也在不断推出独特的产品，加强自己在国际市场上的影响力。其中优秀的作品有《雷曼》(Rayman)、《刺客信条》系列(Assassin's Creed)、《波斯王子》(Prince of Persia)、《细胞分裂》（Tom Clancy's Splinter Cell）、《彩虹六号》系列（Tom Clancy's Rainbow Six）、《看门狗》系列（Watch_Dogs）、《全境封锁》系列（Tom clancy's The Division)、《幽灵行动》系列（Tom Clancy's Ghost Recon）等。</p>
				<p class="np1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真诚期望加入Super Player,开启你的游戏之旅！</p>
			</div>
		</div>
		<div class="biaoti1">
			<span class="us1">运营团队</span>
			<span class="us2">Operation team</span>
		</div>
		<ul class="ren">

			<li>
				<img src="../static/index/img/AlainCorre-In.jpg"/>
				<p class="rp1"><b>AlainCorre</b></p>
				<p class="rp2"><b>CEO</b></p>
			</li>
			<li>
				<img src="../static/index/img/LaurentDetoc-In.jpg"/>
				<p class="rp1"><b>LaurentDetoc</b></p>
				<p class="rp2"><b>执行总监</b></p>
			</li>
			<li>
				<img src="../static/index/img/SergeHascoet-In.jpg"/>
				<p class="rp1"><b>SergeHascoet</b></p>
				<p class="rp2"><b>运营总监</b></p>
			</li>
			<li>
				<img src="../static/index/img/YvesGuillemot-In.jpg"/>
				<p class="rp1"><b>YvesGuillemot</b></p>
				<p class="rp2"><b>技术总监</b></p>
			</li>	
		</ul>