<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ANNO：1800</title>
		<link rel="stylesheet" type="text/css" href="css/shangpinxiangqing.css"/>
		<link href="img/favicon.ico" rel="shortcut icon">
	</head>
	<body>
		<div class="toubu">
			<div class="tn">
				<img src="img/logo_02.png" />
				<ul class="tu">
					<li><a href="zaixainyuyue.html">在线预约</a></li>
					<li><a href="xiwenzixun.html">新闻资讯</a></li>
					<li><a href="fuwuxiangmu.html">服务项目</a></li>
					<li><a href="chanpinzhongxin.html">产品中心</a></li>
					<li><a href="guanyuwomen.html">关于我们</a></li>
					<li><a href="index.html">首页</a></li>
				</ul>
			</div>
		</div>
		
		<img class="banner" src="img/triple_monitor_multiple_screen_multi_game_of_thrones_5760x1080.jpg"/>
		<p class="np1">ANNO：1800</p>
		<div class="d1">
			<img src="img/5b647010ef3aa548048c5958.jpg"/>
			<div class="d2">
				<p class="pd1">原价：￥266.00</p>
				<p class="pd2">折扣价：<span>￥148.00</span></p>
				<p class="pd3">支持平台：pc、Xbox、NS、PS4。</p>
			</div>
		</div>
		<p class="np2">游戏介绍</p>
		<p class="np3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到工业时代的开端。你所选择的道路将会决定世界的样貌。你是改革者，或是剥削者；征服者，或解放者？你的名字如何被篆刻在历史洪流之中，取决于你。在《纪元1800》中，玩家将自由运用自身财富，在 19 世纪世界这个科技快速发展，政治环境却丑恶腐败的舞台上，建立一个横跨烟雾弥漫的欧洲城市到人力充沛南美洲的庞大帝国。结合了广受喜爱的功能与创新的游戏玩法，《纪元1800》是《纪元》系列游戏新时代的开始，玩家将在人类历史的关键时刻留下自己的足迹</p>
		<p class="np4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎来到 19 世纪，一个工业化、民主，以及大发现的时代。充满科技创新、阴谋和见风转舵的忠诚，这个时代正是适合经典的《纪元》游戏玩法的完美背景。《纪元1800》给予玩家充分的机会证明自己作为统治者的才能。他们可以建立大都市、规划高效率的物流网络、在充满异国情调的新大陆建造聚落、派遣探险队远征全世界，并透过外交、贸易或战争来支配对手。《纪元1800》结合了《纪元》系列游戏 20 年以来广受喜爱的特色。这款游戏提供玩家丰富的城市建设体验，包括基于剧情的活动、高自由度的沙盒类游戏模式，以及经典的《纪元》多人游戏体验。在《纪元1800》里，许多广受玩家喜爱的特色也将回归：个人 AI 对手、可运送的贸易商品、随机生成的地图、多重时域的游戏玩法、物品等等。为了重现这段关键的历史，《纪元1800》引入了系列中从未有过的许多新功能。「远征」让玩家能够派遣专业船员到世界各地，追求名声与财富；而新的「劳动力」功能，让工厂管理更加艰难且趋近现实。最后，玩家将会踏上南美洲大陆，掌控推动这个全新的工业时代的「黑金」，并在当地建立聚落。</p>
		
		<div class="dibu">
			<ul class="dibu1">
				<li>
					<p class="dp1">一店地址</p>
					<p class="dp2">门店地址：上海市松江区佘山林荫大道18号 </p>
					<p class="dp3">预约电话：<span>400-526-400</span></p>
					<p class="dp4">营业时间：</p>
					<p class="dp5">周一 ~周五：上午9:30-下午8:00</p>
					<p class="dp6">周六、周日：上午10:00-下午9:00</p>
				</li>
				<li>
					<p class="dp1">二店地址</p>
					<p class="dp2">门店地址：上海市松江区佘山林荫大道18号 </p>
					<p class="dp3">预约电话：<span>400-526-400</span></p>
					<p class="dp4">营业时间：</p>
					<p class="dp5">周一 ~周五：上午9:30-下午8:00</p>
					<p class="dp6">周六、周日：上午10:00-下午9:00</p>
				</li>
				<li>
					<p class="dp1">三店地址</p>
					<p class="dp2">门店地址：上海市松江区佘山林荫大道18号 </p>
					<p class="dp3">预约电话：<span>400-526-400</span></p>
					<p class="dp4">营业时间：</p>
					<p class="dp5">周一 ~周五：上午9:30-下午8:00</p>
					<p class="dp6">周六、周日：上午10:00-下午9:00</p>
				</li>
			</ul>
			<ul class="zd_jlt">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<br />
			<br />
			<p class="dp7">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</p>
		</div>
	</body>
</html>
