<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>《英灵乱战》2019万圣节活动现已开启</title>
		<link rel="stylesheet" type="text/css" href="../static/index/css/xinwenxiangqing.css"/>
		<link href="img/favicon.ico" rel="shortcut icon">
	</head>
	<body>

		
		<img class="banner" src="../static/index/img/Video_games_dragon_age_5760x1200.jpg"/>
		<p class="np1">《英灵乱战》2019万圣节活动现已开启</p>
		<p class="np2">发布日期：2019-10-11 12:03</p>
		<p class="np3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Super Player宣布《英灵乱战》2019万圣节活动将从即日起正式开放，此次活动带来了万圣节主题皮肤，全新游戏主菜单以及每日登陆黄金加成。此外，PS4玩家现在可以进行跨平台游玩。至此，所有的《英灵乱战》玩家都可以在所有平台的线上队列中与其他玩进行匹配对战并分享自定义大厅。</p>
		<p class="np4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《英灵乱战》是一款拥有超过2500万玩家的免费平台格斗游戏，目前已登陆PC、PS4、Xbox One（包括Xbox One X）以及任天堂Switch。</p>
		<p class="np4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由BlueMammoth研发，《英灵乱战》是一款史诗级的免费平台格斗游戏，玩家在瓦尔哈拉大厅中将为荣誉而战。游戏已免费登陆PC、PS4、Xbox One（包括Xbox One X）以及任天堂Switch并拥有超过3000万玩家。玩家将从超过47位独特的角色中选择自己的战士加入战斗，游戏支持在单人或多人游玩，拥有在线及本地模式。</p>
		<p class="np4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;想了解更多《英灵乱战》的相关信息，请关注SP官网和SP官方微博。</p>
		<div class="pd">
			<p class="pd1">上一篇&nbsp;&nbsp;&nbsp;&nbsp;没有了</p>
			<p class="pd2">《彩虹六号》国际邀请赛门票现已开售&nbsp;&nbsp;&nbsp;&nbsp;下一篇</p>
		</div>
		<div class="anniu">
			<p class="ap">返回列表</p>
		</div>
		
		

	</body>
</html>
