
		<link rel="stylesheet" type="text/css" href="../static/index/css/zaixianyuyue.css" />
		<div class="banner">
			<img src="../static/index/img/WORLD_Of_WARSHIPS_game_war_military_video_wwll_battleship_ship_boat_warship_action_fighting_shooter_simulation_online_mmo_strategy_1wwar_battle_5000x2813.jpg" />
		</div>
		<div class="biaoti1">
			<span class="us1">在线预约</span>
			<span class="us2">Online Appointment</span>
		</div>

		<form action="" method="post">
			<div class="di1">
				<p class="dpp1">预约服务:</p>
				<select name="" id="se1-1">
					<option value="幽灵行动：断点">幽灵行动：断点</option>
					<option value="极品飞车21">极品飞车21</option>
					<option value="全境封锁2">全境封锁2</option>
				</select>
			</div>
			<div class="di2">
				<p class="dpp1">预约日期:</p>
				<select name="" id="se1">
					<option value="年">年</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
				</select>
				<select name="" id="se1">
					<option value="月">月</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<select name="" id="se1">
					<option value="日">日</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</div>
			<div class="di2">
				<p class="dpp1">您的姓名:</p>
				<input type="" name="se1" id="se2" value="" />
			</div>
			<div class="di2">
				<p class="dpp1">您的性别:</p>
				<input type="radio" name="rex" checked />&nbsp;&nbsp;男
				<input type="radio" name="rex" />&nbsp;&nbsp;女
			</div>
			<div class="di2">
				<p class="dpp1">您的电话:</p>
				<input type="" name="se1" id="se2" value="" />
			</div>
			<div class="di3">
				<p class="dpp1">补充说明:</p>
				<textarea name="" id="se3" rows="" cols="" style="resize:none"></textarea>
			</div>
			<div class="di2">
				<p class="dpp1">验证码:</p>
				<input type="" name="se1" id="se2" value="" />
			</div>
			<div class="di2">
				<p class="dpp1"></p>
				<div id="se4"></div>
			</div>
			<div class="di4">
				<input type="submit" name="" id="se5" value="提交预约" />
			</div>
		</form>
